ion-toolbar{
    --background: rgb(110, 22, 37);
}

ion-button{
    width: 100px;
}

ion-grid{
    align-items: center;
    text-align: center;
}

  ion-button{
    --background: rgb(110, 22, 37);
  }

  ion-row.header {
    ion-col{
        background-color: #727070;
        border: solid 1px rgb(24, 24, 24);
        color: #fff;
        text-align: center;
    }
  }

  ion-row {
    ion-col{
        background-color: #363636;
        border: solid 1px rgb(24, 24, 24);
        color: #fff;
        text-align: center;
    }
  }